article#Bookmark
  h2 Bookmarked Songs
  section
    ul#bookmark-song-list
    span.hint No Bookmark.
  section
    button#download-as-playlist(disabled) Download Playlist
    button#clear-bookmark(disabled) Clear Bookmarks
template#bookmark-item-template 
  li.bookmark-item 
    img.song-cover
    a.song-title(target="_blank")
    i.fas.fa-times.remove-bookmark(
      title="Remove from bookmark"
      role="button"
    )