article#Favorite
  h2 Favorite Players
  section
    ul#favorite-player-list
    span.hint No Favorite Player.
template#favorite-item-template 
  li.favorite-item 
    img.favorite-player-avator
    img.favorite-player-country
    span.favorite-player-name
    i.fas.fa-user-minus.remove-favorite(
      title="Remove from favorite"
      role="button"
    )