@import './common.scss';
@import './scoreCell';

.songs td.song {
  white-space: nowrap;
  img {
    width: 46px;
    height: 46px;
  }
  > div {
    display: inline-block;
    white-space: normal;
  }
}

.scores {
  text-align: right;
  > :first-child {
    border-bottom: 1px solid gray;
  }
  > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    > span {
      margin-left: 4px;
    }
  }
}