@import './common.scss';

:root {
  font-size: 12px;
  width: 250px;
}

body {
  margin: 0;
  font-size: 1rem;
}

section {
  display: flex;
  flex-flow: column nowrap;
  margin: 8px;
  padding: 0;
}

h1, h2, h3 {
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
}
h1 {
  margin: 8px;
  text-align: center;
  font-size: 1.5rem;
  img {
    margin-right: 4px;
  }
}
h2 {
  font-size: 1.3rem;
}

button {
  cursor: pointer;
}

header {
  background: lightyellow;
  overflow: hidden;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  font-size: 16px;
}

nav > .tab {
  border-radius: 4px 4px 0 0;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  flex: 1 1 auto;
  &.active {
    background: #fff;
    z-index: 1;
    box-shadow: 0 -2px 2px rgba(0 0 0 / 20%);
  }
  &.active,
  &:hover {
    color: #3273dc;
  }
}

article {
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 -2px 2px rgba(0 0 0 / 20%);
  &:not(.active) {
    display: none;
  }
}

#update-user-score:disabled i,
#update-ranked-songs:disabled i {
  animation: Loading 5s linear infinite;
  transform-origin: center center;
}
@keyframes Loading {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

#avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#user-id {
  flex: 1 0 auto;
}

#lock-user-id {
  width: 32px;
}

.form-row {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 4px;
  align-items: center;
  > :not(:last-child) {
    margin-right: 4px;
  }
}

#profile {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 4px;
  margin-bottom: 8px;
  flex: 1 0 auto;
}

#last-update-user {
  text-align: right;
  font-size: .9rem;
  color: gray;
}

#profile-update-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

#update-user-score {
  font-size: .8rem;
  margin-left: 4px;
}

#user-name {
  font-size: 1.2rem;
}

.hidden {
  display: none!important;
}

.hint {
  font-size: .9rem;
  &:empty {
    display: none;
  }
}

.error {
  color: red;
}

#bookmark-song-list,
#favorite-player-list {
  margin: -8px;
  padding: 4px;
  list-style: none;
  max-height: 400px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba( 0 0 0 / 20% );
  }
}

.favorite-player-avator {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex: 0 0 auto;
  margin-right: 4px;
}

.song-cover {
  width: 28px;
  height: 28px;
  flex: 0 0 auto;
  border-radius: 4px;
}

.song-title,
.favorite-player-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 8px;
  flex: 1 1 auto;
}

.bookmark-item,
.favorite-item {
  display: flex;
  margin: 4px 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 2px 4px rgba(0 0 0 / 15%), -1px -1px 1px rgba(0 0 0 / 8%);
  }
}

.remove-bookmark,
.remove-favorite {
  cursor: pointer;
  flex: 0 0 auto;
  &:hover {
    color: #3273dc;
  }
}