@import './common.scss';

.container
 > .content
  > .columns.is-desktop
   > .column.is-one-third-desktop
    > .box
     > .columns
      > .column.is-one-quarter {
  padding: .25rem;
}


#song-action-panel {
   i {
    font-size: 20px;
    margin: 4px;
  }
}