@import './common.scss';

.button-chart-expand {
  position: absolute;
  right: 0;
}

.my-account {
  #button-set-my-account {
    display: none;
  }
  #button-unset-my-account {
    display: inline;
  }
}
#button-unset-my-account {
  display: none;
}

#button-add-favorite.fas {
  color: coral;
}

th.song > div {
  > :not(:last-child) {
    flex: 0 0 auto;
  }
  > :last-child {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    > :last-child {
      display: flex;
      flex-flow: nowrap;
      justify-content: space-between;
      .time {
        font-weight: normal;
      }
    }
  }
}

.action i {
  font-size: 1.2rem;
  margin: 4px;
}

.difficulty-label {
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 68px;
  margin-right: 8px;
  font-weight: normal;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.mapper-icon {
  font-size: .9rem;
  margin-right: 4px;
}

.accuracy-rank-badge {
  font-size: .8rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #222;
  width: 28px;
  height: 16px;
  font-style: normal;
  color: #000;
  margin-right: 4px;
}

.rank-SSS{
  background: purple;
  color: #fff;
}
.rank-SS{ background: gold; }
.rank-S { background: silver; }
.rank-A { background: cyan; }
.rank-B { background: lime; }
.rank-C { background: yellow; }
.rank-D { background: pink; }
.rank-E {
  background: #222;
  color: #fff;
}

tbody tr:hover {
  background:rgba(255 255 0 / 10%);
  transition: background .5s;
}