@import './common.scss';

.button-chart-expand {
  position: absolute;
  right: 0;
}

.my-account {
  #button-set-my-account {
    display: none;
  }
  #button-unset-my-account {
    display: inline;
  }
}
#button-unset-my-account {
  display: none;
}

#button-add-favorite.fas {
  color: coral;
}

#score-header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  align-items: center;
}

th.song > div {
  > :not(:last-child) {
    flex: 0 0 auto;
  }
  > :last-child {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    > :last-child {
      display: flex;
      flex-flow: nowrap;
      justify-content: space-between;
      .time {
        font-weight: normal;
      }
    }
  }
}

.action i {
  font-size: 1.2rem;
  margin: 4px;
}

.mapper-icon {
  font-size: .9rem;
  margin-right: 4px;
}
