i[role="button"] {
  cursor: pointer;
  &:hover {
    color: #3273dc;
  }
}

.button-chart-expand {
  position: absolute;
  right: 0;
}

.my-account {
  #button-set-my-account {
    display: none;
  }
  #button-unset-my-account {
    display: inline;
  }
}
#button-unset-my-account {
  display: none;
}

th.song > div > :not(:last-child) {
  flex: 0 0 auto;
}

.difficulty-label {
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 68px;
  margin-right: 8px;
  font-weight: normal;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.mapper-icon {
  font-size: .9rem;
  margin-right: 4px;
}

.accuracy-rank-badge {
  font-size: .8rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #222;
  width: 28px;
  height: 16px;
  font-style: normal;
  color: #000;
  margin-right: 4px;
  box-shadow: -1px -1px 1px rgb(0 0 0 / 20%) inset, 1px 1px 1px rgb(255 255 255 / 30%) inset;
}

.rank-SSS{
  background: purple;
  color: #fff;
}
.rank-SS{ background: gold; }
.rank-S { background: silver; }
.rank-A { background: cyan; }
.rank-B { background: lime; }
.rank-C { background: yellow; }
.rank-D { background: pink; }
.rank-E {
  background: #222;
  color: #fff;
}